@import url('https://fonts.cdnfonts.com/css/racing-games');

header {
    display: flex;
    justify-content: center;
}

.header-logo {
    font-family: 'Racing Games', sans-serif;
    font-size: 5rem;
    color:#058240;
    margin: 2px;
}