.info-card {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 20px;
    background-color: #ADCACB;
    height: 30vh;
    width: 40vw;
    border-radius: 1.5em;
}

.info-cards-container {
    display: flex;
    margin: 15px;
    /* flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0; */
  }