.info-card {
    box-sizing: border-box;
    border: .5vh solid black;
    padding: 2vh;
    background-color: #ADCACB;
    width: 30vh;
    border-radius: 2.5vh;
    overflow-y: scroll;
}

.info-card p {
    margin-top: 0;
}