button {
  cursor: pointer;
  border-radius: 3em;
  background-color: #f7f9fa;
  height: 35px;
  width: 55px;
}

.info-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}